<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947538421373-a4h201drcoma5ch3f19djgqqabgj0e2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947538421373-a4h201drcoma5ch3f19djgqqabgj0e2p</string>
	<key>API_KEY</key>
	<string>AIzaSyASbkuP6t6TmuySVn7rbMgURHXbxgE3zY4</string>
	<key>GCM_SENDER_ID</key>
	<string>947538421373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catalin-palade.SampleApp</string>
	<key>PROJECT_ID</key>
	<string>authentication-26ecd</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-26ecd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947538421373:ios:607da332387d0720133314</string>
</dict>
</plist>